* {
  color: white;
  font-size: large;
  letter-spacing: 1px;
}
body {
  background-color: black;
}
ul {
  display: inline-block;
}

li {
  display: block;
  padding: 10px;
  border: 1px green solid;
}

li p {
  display: inline-block;
}
a:hover {
  background-color: green;
}
a:hover,
a:visited,
a {
  padding: 5px;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  box-shadow: 0 0 3px 3px green;
  border-radius: 7%;
}
