<!DOCTYPE html>
<html>
  <head>
    <%- include("./components/head.ejs");%>
  </head>
  <body>
    <h3><%=newUser.userName%> WELCOME TO OUR CLUB !!!</h3>

    <a href="http://localhost:5000/user">back to our members list </a>
  </body>
</html>
